h1{
    text-align: center;
    color: rgb(255, 255, 255);
}
.pixel{ 
    background-color:#B6D7A8;
    height:20px; 
    width:20px;
    position: absolute;
    border:1px solid black;
}

#gameboard{
    position: relative;
    margin: auto;
    width: 400px;
    height: 400px;
}

a{
    display: block;
    text-align: center;
    font-size: 200%;
    margin-top: 2%;
    color: deeppink;
}

p{
    text-align: center;
    color: white;
    font-size: 25px;
}


html{
    background-color: black;
}

#score{
    text-align: center;
    color: wheat;
    font-size: 20px;
}


img.mobile{
    display: none;
}

@media (max-width: 1000px) {

    img.upArrow {
    display: block;
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(-90deg);
    }

    img.downArrow{
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(90deg);
    }

    img.leftArrow{
    display: inline;
    margin-left: 30vw;
    transform: rotate(180deg);
    }

    img.rightArrow{
    display: inline;
    margin-left: 13vw;
    }

}